<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <h1 class="footer-logo">
                <img src="./assets/images/main-images/footer-logo.png" alt="DROPFILM">
            </h1>
            <p class="footer-desc footer-text">하루를 필름으로 기록하는 체험 서비스</p>
            <div class="footer-info footer-text">
                <p>
                    상호명 : DROPFILM
                    <span class="footer-info-bar">|</span>
                    대표자 : 〇〇〇
                    <span class="footer-info-bar">|</span>
                    사업자등록번호 : 000-00-00000
                    <span class="footer-info-bar">|</span>
                    주소 : 서울특별시 ○○구 ○○로 00
                    <span class="footer-info-bar">|</span>
                </p>
                <p>
                    고객센터 : 0000-0000
                    <span class="footer-info-bar">|</span>
                    E-mail : contact@dropfilm.kr
                    <span class="footer-info-bar">|</span>
                </p>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-left">
                    <nav class="footer-links">
                        <a href="#">이용약관</a>
                        <a href="#">개인정보처리방침</a>
                        <a href="#">서비스 소개</a>
                    </nav>
                    <p class="footer-copy footer-text">© 2026 DROPFILM. All Rights Reserved.</p>
                </div>
                <ul class="footer-sns">
                    <li>
                        <a class="footer-sns-link" href="#">
                            <img src="./assets/images/main-images/sns-instargram.png" alt="Instagram">
                        </a>
                    </li>
                    <li>
                        <a class="footer-sns-link" href="#">
                            <img src="./assets/images/main-images/sns-kakao.png" alt="Kakao">
                        </a>
                    </li>
                    <li>
                        <a class="footer-sns-link" href="#">
                            <img src="./assets/images/main-images/sns-youtube.png" alt="YouTube">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
